{{!< default}}
{{#post}}
{{> header-post}}

<div id="main" class="content" role="main">
    <div class="container">

        <article class="{{post_class}} post">
            <div class="row">
                {{! Everything inside the #post tags pulls data from the post }}

                {{! Everything below outputs content of the the post which has been published }}

                <h1 class="post-title text-center hyper lighter">{{{title}}}</h1>

                <div class="post-info text-center bordered-top col-md-2">
                    <time datetime="{{date format='YYYY-MM-DD'}}" class="post-time">{{date format="DD MMM YYYY"}}</time>
                    {{#if tags}} on <span class="post-tags">{{tags}}</span>{{/if}}
                </div>
                <div class="post-body bordered-bottom col-md-8">
                    {{content}}
                </div>
            </div>

            <footer class="post-footer">
                <div class="row">
                    <div class="post-share text-center bordered bordered-bottom col-md-8 col-md-offset-2">
                        <p class="light">
                            Share this post
                        </p>
                        {{> social-links-post}}
                    </div>
                </div>

                <div class="post-author row">
                    {{#if author}}
                    <div class="col-md-2 text-center">
                    {{#if author.image}}
                        <img src="{{author.image}}" itemprop="image" class="post-avatar img-circle img-responsive"/>
                    {{/if}}
                    </div>
                    <div class="col-md-8">
                        <h4 class="small-screen-center">{{author.name}}</h4>
                        <p class="lead">{{author.bio}}</p>
                    </div>
                    {{/if}}
                </div>

            </footer>

        </article>

    </div>
</div>
{{/post}}
{{> footer}}
